/* stylesheet*/
               *{
                  padding: 0px;
                  margin: 0px;
               }
            body{
                  background:black;
                  padding:1px;
                  margin:px;
            }
            #header {
               background-color:orange;
               margin-top: px;
               padding:15px;
               box-shadow: 0 0 5px 0 black;
            }
            #nav {
               background-color:black;
               border-radius:25%;
               margin-top: -12px;
               padding-top: 15px;
               padding-bottom:15px;
               display:in;
            }
            #nav ul li{
               display: inline;
               padding:10px ;
               text-decoration: none;
            }
            #nav ul {
               display: inline;
               padding-left:4%;
               padding-right:4%;
               text-decoration: none;
            }
             #nav li a{
               color: white;
               font-size: 30px;
               text-decoration: none;
            }
            
            .image-one {
               background-image: url(lib.JPG);
               background-color:#cccccc;
               height: 300px;
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
               margin-top: 5px;
               padding:3px;
               opacity:0.;
               box-shadow: 0 0 55px 0 black;
            }
            .text-image {
               text-align: center;
               position: absolute;
               top: 40%;
               left: 50%;
               transform: translate(-50%, -50%);
               Color: white;
            }
            #corner {
               background-color: white;
               border-radius: 45%;
               padding-bottom:5px;
               padding-top:5px;
               padding-left:2px;
               padding-right:6px;
               box-shadow: 0 0 35px 0 blue;
               color: black
            }
            .information-1{
               width:;
               padding-top: 10px;
            }
            .information-1 h1{
               color: white;
               padding-top: 40px;
               text-align: center;
               font-size: 25px;
            }
            #info-option{
               width: 75%;
               margin-top: 5%; 
               color: black;
               display: flex;
               justify-content: space-between;
               margin-left: 5%;
               margin-right: 5%;
               border-radius: 8px;

            }
            #info-options{
               flex-basis:  41%;
               background-color: rgb(245, 243, 238);
               text-align: center;
               border-top-right-radius: 18px;
               border-bottom-left-radius: 15px;
               padding:10px;
            }
            #info-option-2{
               color: white;
               text-align: center;
               padding-top: 30px;
            }
            #info-option-2 h2{
               font-size: 35px;
               font-weight: 600;
            }
            #info-option-2 p{
               padding-top: 20px;
               font-size: 30px;
            }
            #info-head{
               color: white;
               padding-top: 50px;
               text-align:center;
            }
            #info-option-3{
               background-color:;
               width: 80%;
               display:flex;
               padding-top: 90px;
               color:white;
               text-align: center;
               justify-content: space-between;
            }
            #option-3{
               color: white;
               background-color: rgba(218, 218, 218, 0.644);
               border-top-left-radius:5px;
               border-top-right-radius:5px;
               padding-right: 0px;
            }
            #info-option-3 p a{
               text-decoration: none;
               padding-left: 5px;
               padding-right: 5px;
               color: black;
            }






            #footer-one {
               color: white;
               background-color: Black;
               margin-bottom:5px;
               padding-left: 10px;

            }
            #footer-two {
               padding-top: 5px;
               background-color: orange;
               margin-bottom: -5px;
               border-top-left-radius: 15px;
               border-top-right-radius: 15px;
            }
            #footer-Image p img {
               margin: 5px;
               padding: 5px ;
               opacity: 0.1px;
               border-radius: 50%;
            }
         #Information {
            /*background-image: url(web2.JPG);*/
            text-align: center;
            background-color:black;
            color: white;
            margin: top 10px;
            margin-left:5%;
            Margin-right:5%;;
            }
         #soon{
            padding:20;
            margin-top: 10px;
         }
         #soon ul li {
            display: inline;
            padding-top: 20px;
            margin-top: 20px;
            padding:20px;
            
            }
         #host ul li {
            position: relative;
            text-align: center;
            display: inline;
            padding: 6px;
            }
         #form-text{
            padding: 3px;
            text-align: left;
            font-size: Large;
            
            }
         #input {
            padding: 0px;
            width: 300px;
            height: 25px;
            color:orange;
            font: bold;
            text-align: left;
            
            
            }
         #input-box {
            text-align: left;
            padding-left:20px;
            padding-top:20px;
            }
            







            @media(max-width:800px) {
               #nav {
                  background-color:black;
                  border-radius:25%;
                  margin-top: -12px;
                  padding-top: px;
                  padding-bottom:px;
               }
               #nav ul li{
                  display: inline;
                  padding:1px;
               }
               #nav ul {
                  display: inline;
                  padding-left:0px;
                  padding-right: 0px;
               }
               #nav li a{
                  color: white;
                  font-size: 15px;
              }
     #meet{
        display: float;
padding:50px;
justify-content: space between;
}
              #meet-photos img{
               border-radius:50%;
                width:300px;
height:280px;
border: 1px solid orange;
display: float;
}
        
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            